<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>

<body>
	{{ content }}

	<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
				<style type="text/css" media="screen, projection">
				  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
				</style>
				<script type="text/javascript">
				  if (typeof(Zenbox) !== "undefined") {
				    Zenbox.init({
				      dropboxID:   "20190156",
				      url:         "https://oxtablet.zendesk.com",
				      tabTooltip:  "Soporte",
				      tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_es_support.png",
				      tabColor:    "black",
				      tabPosition: "Left"
				      hide_tab: "false",
				    });
				  }
	</script>
</body>

<footer>
	{% include footer.html %}
</footer>

</html>