<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}

	<!-- Google analytics -->
	<script type="text/javascript">

  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-41723400-1']);
  		_gaq.push(['_trackPageview']);

  		(function() {
   			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>

	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
	$.src='//v2.zopim.com/?29LMMgGgWTh7gl89l1jkZqZqTrno3wq2';z.t=+new Date;$.
	type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
	</script>
	<!--End of Zopim Live Chat Script-->

</head>

<body>
	{{ content }}
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
  	<script type="text/javascript" src="js/feedback_tab.js"></script>


	<!-- Timer for homepage pictures to change -->
	<script type="text/javascript">
		$('.carousel').carousel({
  interval: 5000
})
	</script>

<!-- Next Button Div Hide/Div Show reclamos-->
	<script type="text/javascript">
	// Short-form of `document.ready`
$(function(){
    $("#next").on("click", function(){
    	if($("#div1").is(":visible")){
    		$("#div1").hide();
	        $("#div2, #back").show();    	}
	    else if($("#div2").is(":visible")){
	        $("#div3").show();
	        $("#div2").hide();
    	}
    	else if($("#div3").is(":visible")){
	        $("#div4").show();
	        $("#div3").hide();
    	}
    	else if($("#div4").is(":visible")){
	        $("#div5").show();
	        $("#div4").hide();
    	}
    	else if($("#div5").is(":visible")){
	        $("#div6").show();
	        $("#div5").hide();
	        $("#next").addClass("disabled");
    	}
    });
});
$(function(){
    $("#back").on("click", function(){
	    if($("#div2").is(":visible")){
	        $("#div1").show();
	        $("#div2, #back").hide();
    	}
    	else if($("#div3").is(":visible")){
	        $("#div2").show();
	        $("#div3").hide();
    	}
    	else if($("#div4").is(":visible")){
	        $("#div3").show();
	        $("#div4").hide();
    	}
    	else if($("#div5").is(":visible")){
	        $("#div4").show();
	        $("#div5").hide();
    	}
    	else if($("#div6").is(":visible")){
	        $("#div5").show();
	        $("#div6").hide();
	        $("#next").removeClass("disabled");
    	}
    });
});

</script>



</body>

<footer>
	{% include footer.html %}
</footer>

</html>